ol {
    padding: 0 0 1rem 1.5rem;
    /* color: #828282;
    background-color: #f6f6ef; */
}


.article {
    text-align: left; 
    background-color: #f6f6ef;

}

li {
    background-color: #f6f6ef;
    margin-left: 0.5rem;   
}


h4 {
    display: inline-flex;
    color: black;
    margin-top: 0.5rem;
    background-color: #f6f6ef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

h4:hover{
    color: white;
    background-color: #82828279;
 
}


.article span {
    /* border: solid red;  */
    color: #828282;
    font-size: 0.9rem;
    padding: 4px;
}

.article span:hover{
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}

.article a{
    text-decoration: none;
}