.App {
  text-align: center;
  background-color: #F6F6EF;
  width: 85%;
}

.App-header {
  background-color: #FF6600;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.branding {
  display: flex;
}

.logo {
  color:white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.2rem;
}

.logoName {
  font-weight: bold;
  font-size: 1.2rem;
}

